//-----------------------------------------//
//block decoration
//-----------------------------------------//

.box-shadow{
  box-shadow: 0 2px 8px rgba($black, .2);
  padding: 60px 25px;
  @media screen and(min-width: $medium){
    padding: 60px 40px;
  }//768
  @media screen and(min-width: $x-large){
    padding: 60px 55px;
  }//1200px
}


.line-separate{
  display: block;
  margin: 0 5px;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  &__opacity{
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
.panels-disorder, .panels-ascendant, .panels-descendant, .panels-order{
  .bg-white.border-top__custom::before{
      background-position: bottom center;
  }
}

.panels-disorder, .panels-ascendant, .panels-descendant{
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  @media screen and(min-width: $medium){
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
  }//$medium
  li{
    max-width: calc(80%);
    margin-bottom: 20px;
    @media screen and(min-width: $medium){
      max-width: calc(100% / 2 - 20px);
    }//$medium
    @media screen and(min-width: $large){
      max-width: calc(100% / 4 - 20px);
    }//$medium
  }
  h2{
    text-align: center;
  }
  .container-image{
    width: 100%;
    padding-bottom: 100%;
    background: $grey;
    overflow: hidden;
  }
  .container-content{
    padding: 20px;
    padding-bottom: 0;
  }
  .more{
    @extend .border-top;
    @extend .vertical-center ;
    @extend .space-between;
    margin: 0;
    padding: 10px 0;
  }
  span{
    color: $mediumgrey;
  }
  p{
    color: $darkgrey;
    @extend .p-medium;
    @extend .light;
  }


}//block-disorder

.panels-disorder{



  li:nth-child(odd){
    align-self: flex-start;
    margin-top: 20px;
  }
  li:nth-child(even){
    align-self: flex-end;
  }

  @media screen and(min-width: $medium){
    li:first-child{
      align-self: flex-start;
      @media screen and(min-width: $medium){
        align-self: center;
      }//$medium
    }
    li:nth-child(2){
      align-self: center;
      margin-top: 20px;
      @media screen and(min-width: $large){
        margin-top: 50px;
      }//$large
    }
    li:nth-child(3){
      align-self: flex-start;
    }
    li:last-child{
      align-self: flex-end;
    }
  }

}
.panels-ascendant{
  li:first-child{
    align-self: flex-start;
  }
  li:nth-child(2){
    align-self: flex-start;
    margin-top: 20px;
    @media screen and(min-width: $large){
      margin-top: 50px;
    }//$large
  }
  li:nth-child(3){
    align-self: flex-end;
    margin-bottom: 20px;
    @media screen and(min-width: $large){
      margin-bottom: 50px;
    }//$large
  }
  li:last-child{
    align-self: flex-end;
  }
}
.panels-descendant{
  li:first-child{
    align-self: flex-end;
  }
  li:nth-child(2){
    align-self: flex-end;
    margin-bottom: 20px;
    @media screen and(min-width: $large){
      margin-bottom: 50px;
    }//$large
  }
  li:nth-child(3){
    align-self: flex-start;
    margin-top: 20px;
    @media screen and(min-width: $large){
      margin-top: 50px;
    }//$large
  }
  li:last-child{
    align-self: flex-start;
  }
}

.panels-order{
  justify-content:center;
  align-items: center;
  h2{
    text-align: center;
  }
  .container-image{
    width: 100%;
    padding-bottom: 100%;
    background: $grey;
    overflow: hidden;
  }
  .container-content{
    padding: 20px;
    padding-bottom: 0;
  }
  .more{
    @extend .border-top;
    @extend .vertical-center ;
    @extend .space-between;
    margin: 0;
    padding: 10px 0;
  }
  span{
    color: $mediumgrey;
  }
  p{
    color: $darkgrey;
    @extend .p-medium;
    @extend .light;
  }
  li{
    align-self: center;
    margin-top: 20px;
    > div{
      max-width: calc(80%);
      margin: 0 auto;
      @media screen and(min-width: $medium){
        max-width: calc(100% - 20px);
      }//$medium
    }
  }
}

.panels-block{
  @extend .flex-col;
  @extend .vertical-center;
  @extend .horizontal-center;
  justify-content: center;
  padding: 20px;
  width: 260px !important;
  height: 260px !important;
  margin-left: 20px;
  text-align: center;
  span{
    @include font-size(50);
  }
  p{
    text-align: center;
    margin-top: 30px;
  }
}
